<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.store.mapper.ProductMapper">

    <resultMap id="ProductEntityMap"
               type="cn.tedu.store.entity.Product">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="item_type" property="itemType"/>
        <result column="sell_point" property="sellPoint"/>
        <result column="is_delete" property="isDelete"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <!-- 获取热销排行的前4个商品 -->
    <!-- List<Product> findHotList() -->
    <select id="findHotList"
            resultMap="ProductEntityMap">
        SELECT
            *
        FROM
            t_product
        WHERE
            status=1 AND num>10
        ORDER BY
            priority DESC
        LIMIT 0,4
    </select>

    <!-- 根据Id获取商品信息 -->
    <!-- List<Product> findById(Integer id) -->
    <select id="findById" resultMap="ProductEntityMap">
        SELECT
            *
        FROM
            t_product
        WHERE
            id=#{id}
    </select>
</mapper>